{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<section id="about-us">
    <h1 class="container-heading">About Us</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-us-col">
                <h3>About Quacker Cart</h3>
                <p>Welcome to Quacker Cart, your go-to destination for quality products and exceptional shopping experiences. At Quacker Cart, we're not just an e-commerce platform; we're a community that believes in delivering joy and satisfaction to our customers.</p>
                <p>Our journey began with a passion for providing a curated selection of products that meet the highest standards of quality. From trendy fashion items to cutting-edge gadgets, we strive to bring you a diverse range of products that suit your lifestyle.</p>
            </div>

            <div class="col-lg-6 about-us-col-img">
                <img src="/static/images/logo.svg" alt="Quacker Cart Logo">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 about-us-col">
                <h3>Our Mission</h3>
                <p>At Quacker Cart, our mission is to enrich your life by offering a seamless and enjoyable shopping experience. We aim to be your trusted source for high-quality products, excellent customer service, and innovation in online retail.</p>
            </div>

            <div class="col-lg-6 about-us-col">
                <h3>Values We Stand For</h3>
                <ul>
                    <li><strong>Quality:</strong> We are committed to providing products that meet the highest standards of quality and durability.</li>
                    <li><strong>Customer Satisfaction:</strong> Your satisfaction is our priority. We strive to exceed your expectations with every purchase.</li>
                    <li><strong>Innovation:</strong> Embracing innovation, we constantly explore new trends and technologies to enhance your shopping experience.</li>
                    <li><strong>Transparency:</strong> We believe in open communication and transparency in all our dealings with customers and partners.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
